@using net_il_mio_fotoalbum.Models.Db
@{
    ViewData["Title"] = "Home Page";
}
@model List<Photo>

@section Style{
    <link rel="stylesheet" href="~/css/home/index.css" asp-append-version="true" />
}
<div class="text-center ms_content-box">
    <div class="container">

        <!-- JUMBOTRON -->
        <section>
            <div class="row g-4">
                <h1 class="display-4 fw-bold text-info col-12 ms_text-outer">
                    Benvenuto in foto album
                </h1>
                <div class="col-4 offset-1  p-3 border-info home-card shadow-3d">
                    <h3 class=" text-body fw-bold">
                        La nostra causa
                    </h3>
                    <span class="fs-5">
                        Non hai un lavoro?, sei annoiato e pieno di immagini sul telefonino? <br />
                        E allora cosa aspetti a condividerle con i tuoi amici?

                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-4 offset-6 p-3 border-info home-card shadow-3d">
                    <h3 class=" text-body fw-bold">
                        Resta aggiornato
                    </h3>
                    <span class="fs-5">
                        Non perderti i momenti piu belli condivisi dagli utenti <br />
                        E allora cosa aspetti a condividerle con i tuoi amici?

                    </span>
                </div>
            </div>
        </section>
        <!-- /JUMBOTRON -->



        <h2 class="photo-section fs-1 display-4 fw-bold text-info col-12 ms_text-outer">
            Dai un occhiata alle foto
        </h2>

        <!--CALL TO ACTION-->
        <div class="p-5 w-50 m-auto">
            <input id="search-name" class="form-control" type="text" placeholder="Cosa vorresti guardare?">
        </div>

        
        <!-- USER'S PHOTO SECTION -->
        <section id="photo-section" class="row row-cols-3 gy-4">
            @foreach (var item in Model)
            {
                <div class="p-4">

                    <div class="card-photo card col h-100 shadow-3d p-4">
                        <img src="@item.ImageUrl" style="aspect-ratio:3/2" class="card-img-top" alt="@item.Title">
                        <div class="card-body d-flex flex-column align-items-center">
                            <h5 class="card-title">@item.Title</h5>
                            <section class="flex-grow-1 p-3">
                                <span class="fw-bold">Descrizione:</span>
                                @if(item.Description?.Count() > 0)
                                {
                                    <p class="card-text">@item.Description</p>
                                }else
                                {
                                    <p class="card-text">Non disponibile</p>
                                }

                            </section>
                            
                        </div>
                    </div>
                </div>
            }

        </section>
        <!-- /USER'S PHOTO SECTION -->

        <!-- CONTACT FORM -->
        <section>
            <h2 class="photo-section fs-3 mb-4 display-4 fw-bold text-info col-12 ms_text-outer">
                Hai dubbi o domande? Contattaci!!
            </h2>

            <form class="ms_container-small border border-3 p-5 shadow-3d" style="aspect-ratio: 6/3">

                
                <div class="row g-3">
                    <div class="col-4">
                        <label for="email">Inserisci la tua email</label>
                        <input id="email" type="text" class="form-control" placeholder="email@prova.com" aria-label="name">
                    </div>
                    <div class="col-7">

                        <label class="d-block" for="message">Cosa vuoi chiedere?</label>
                        <textarea id="user-message" rows="8" class="form-control"></textarea>
                    </div>
                    <div class="col-12 text-start">
                        <button id="btn-message" class="btn btn-primary">Invio</button>
                        <span id="notify" class="ms-5 d-none">Messaggio inviato con successo!</span>
                    </div>
                </div>
            </form>
        </section>
        <!-- /CONTACT FORM -->

    </div>
</div>
@section Scripts{
    <script src="/js/Home/formMessage.js"></script>
    <script src="/js/Home/searchPhotoName.js"></script>

}