@using net_il_mio_fotoalbum.Models.Db
@{
    ViewData["Title"] = "Home Page";
}
@model List<Photo>

@section Style{
    <link rel="stylesheet" href="~/css/home/index.css" asp-append-version="true" />
}
<div class="text-center ms_content-box">
    <div class="container">

        <!-- JUMBOTRON -->
        <section>
            <div class="row g-4">
                <h1 class="display-4 fw-bold text-info col-12 ms_text-outer">
                    Benvenuto in foto album
                </h1>
                <div class="home-card col-4 offset-1  p-3 border border-3 rounded-3 border-info">
                    <h3 class=" text-body fw-bold">
                        La nostra causa
                    </h3>
                    <span class="text-primary fs-5">
                        Non hai un lavoro?, sei annoitato e pieno di immagini sul telefonino? <br />
                        E allora cosa aspetti a condividerle con i tuoi amici?

                    </span>
                </div>
            </div>
            <div class="row">
                <div class="home-card col-4 offset-6 p-3 border border-3 rounded-3 border-info">
                    <h3 class=" text-body fw-bold">
                        Resta aggiornato
                    </h3>
                    <span class="text-primary fs-5">
                        Non perderti i momenti piu belli condivisi dagli utenti <br />
                        E allora cosa aspetti a condividerle con i tuoi amici?

                    </span>
                </div>
            </div>
        </section>
        <!-- /JUMBOTRON -->



        <h2 class="photo-section fs-1 display-4 fw-bold text-info col-12 ms_text-outer">
            Dai un occhiata alle foto
        </h2>
        
        <!-- USER'S PHOTO SECTION -->
        <section class="row row-cols-3 gy-4">
            @foreach (var item in Model)
            {
                <div class="p-3">

                    <div class="card-photo card col" style="aspect-ratio: 4/5">
                        <img src="https://picsum.photos/seed/picsum/200/300" style="aspect-ratio:3/2" class="card-img-top" alt="@item.Title">
                        <div class="card-body d-flex flex-column align-items-center">
                            <h5 class="card-title">@item.Title</h5>
                            <section class="flex-grow-1 p-3">
                                <span class="fw-bold">Descrizione:</span>
                                @if(item.Description?.Count() > 0)
                                {
                                    <p class="card-text">@item.Description</p>
                                }else
                                {
                                    <p class="card-text">Non disponibile</p>
                                }

                            </section>
                            
                        </div>
                    </div>
                </div>
            }

        </section>
        <!-- /USER'S PHOTO SECTION -->

        <!-- CONTACT FORM -->
        <section>
            <h2 class="photo-section fs-3 mb-4 display-4 fw-bold text-info col-12 ms_text-outer">
                Hai dubbi o domande? Contattaci!!
            </h2>

            <form class="ms_container-small border border-3 p-5 " style="aspect-ratio: 6/3">

                <div class="row g-3">
                    <div class="col-4">
                        <label for="name">Inserisci la tua email</label>
                        <input id="name" type="text" class="form-control" placeholder="email@prova.com" aria-label="name">
                    </div>
                    <div class="col-7">

                        <label class="d-block" for="message">Cosa vuoi chiedere?</label>
                        <textarea rows="8" class="form-control">

                        </textarea>
                    </div>
                    <div class="col-12 text-start">
                        <button class="btn btn-primary">Invio</button>
                    </div>
                </div>
            </form>
        </section>
        <!-- /CONTACT FORM -->

    </div>
</div>
