@using net_il_mio_fotoalbum.Models.Db
@{
    ViewData["Title"] = "Home Page";
}
@model List<Photo>

@section Style{
    <link rel="stylesheet" href="~/css/home/index.css" asp-append-version="true" />
}
<div class="text-center">
    <h1 class="display-4 text-primary">
        Benvenuto in foto album
    </h1>

    @foreach (var item in Model)
    {
        @item.Title <br>
    }
</div>
