h2.photo-section{
    padding-top: 6rem;
}

.home-card{
    animation-delay: 4s;

}

.home-card:hover {
    background-color: lightgreen;
}

.card-photo {
    overflow:hidden;
    border-radius:1rem;
    box-shadow: 19px 23px 12px 0px rgba(0,0,0,0.2);
}
