h2.photo-section {
    padding-top: 6rem;
}

    .home-card{
        border-radius: 30px;
        border: 1px solid;
    }

.card-photo {
    overflow: hidden;
    border-radius: 1rem;
}


.shadow-3d {
    border-radius: 20px;
    box-shadow: 0;
    transition: box-shadow 1.4s ease;
}

    .shadow-3d:hover {
        box-shadow: -3px 21px 15px 10px rgba(0,0,0,0.2);
        transition: box-shadow 0.9s ease;
    }
